@page "/orderOptions"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@inject HttpClient Http

<h1>Order options</h1>

<EditForm Model="@Model" OnValidSubmit="Submit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<label for="orderNumberInput">
		Number:
	</label>
	<InputText id="orderNumberInput" placeholder="N01DEA" @bind-Value="Model.Number" />

	<label for="orderDateInput">
		Date:
	</label>
	<InputDate id="orderDateInput" TValue="DateOnly" @bind-Value="Model.Date" />

	<label for="providersSelect">
		Provider:
	</label>
	<InputSelect id="providersSelect" @bind-Value="Model.ProviderId">
		<option value="@(0)">Select provider</option>
		@foreach (ProviderViewModel p in _providers)
		{
			<option value="@p.Id">@p.Name</option>
		}
	</InputSelect>

	<button type="submit">
		Submit
	</button>
</EditForm>

<OrderItemsTable ParentModel="@Model"/>

@code {
	public OrderOptionsViewModel Model = new();

	private ProviderViewModel[] _providers = [];

	protected override async Task OnInitializedAsync()
	{
		_providers = await Http.GetFromJsonAsync<ProviderViewModel[]>("Providers");
		Model.ItemsList.Add(new OrderItemViewModel() { Name = "item1", Quantity = 1, Unit = "tonn" });
		Model.ItemsList.Add(new OrderItemViewModel() { Name = "item2", Quantity = 3, Unit = "tonn" });
		Model.ItemsList.Add(new OrderItemViewModel() { Name = "item3", Quantity = 5, Unit = "kg" });
	}

	private void Submit()
	{
	}
}
